
<div class="header">
    <h1>Welcome To The Church of Hideo Kojima</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Hideo_Kojima_-_Tokyo_Game_Show_2011_%281%29_%28cropped%29.jpg" alt="Picture of Hideo Kojima">
    
</div>