
<div>
    <h1>Work Page</h1>
    <div class="container">
        <div>
           
            <img src="https://media.senscritique.com/media/000017816998/source_big/Metal_Gear_Solid.png" alt="">
        </div>
        <div>
            <img src="https://img.cinemablend.com/filter:scale/quill/b/a/5/4/b/d/ba54bdae5f39d636f33ce299d4eb008417180976.jpg?fw=1200" alt="">
        </div>
    </div>
</div>